<link href="/assets/style1.css" media="screen" rel="stylesheet" />
<link href="/assets/style3.css" media="screen" rel="stylesheet" />
<h1>Formas de Pagamento</h1>
<div class="testboxcliente">
<%= render 'form' %>


</div>