<p id="notice"><%= notice %></p>

<p>
  <strong>Numero do Pedido:</strong>
  <%= @pedido.id %>
</p>
<p>
  <strong>Data do pedido:</strong>
  <%= @pedido.datapedido %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @pedido.cliente.name %>
</p>



